<!doctype html>
<html>
  <head>
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="@giftionarycity">
    <meta name="twitter:creator" content="@<%= @image.username %>">
    <meta name="twitter:image" content="<%= @image.imgix_url %>">
    <meta name="twitter:title" content="<%= @image.username %>/<%= @image.stub %>">
    <meta name="twitter:description" content="<%= @image.description %>">
    <title>Giftionary.City - <%= @image.username %>/<%= @image.stub %></title>
  </head>
  <body>
    <img src="<%= @image.imgix_url %>">
  </body>
</html>
